html{
    background: linear-gradient(to left,rgb(10, 174, 174),rgb(15, 95, 95),rgb(2, 60, 60));
    background-repeat:repeat;height: 100%;
}
h1{
    text-align: center;
    font-size: 50px;
}
.boxes{
justify-content: center;
 
  align-items: center;
    width: 600px;
    margin: 10px auto;
}
#back button{
    margin-left: 48%;
    margin-top: 40px;
    width: 80px;
    border-radius: 10px;
    padding: 10px 10px;
    background-color:rgb(8, 48, 60);
}
#back button:hover{background-color: rgb(127, 217, 187);color: black; transition: 700ms;}
.boxes input{
    display:flex;
    font-weight: bolder;
    font-size: 15px;
    padding: 15px 15px;
    margin: 10px auto;
    width: 80%;
    text-align: center;
    border: none;
    border-radius: 8px;
    border: 1px solid rgb(12, 3, 51);

}
#add{background-color: rgb(21, 177, 177);}
#update{background-color:rgb(27, 111, 167);}
#delete{background-color: rgb(148, 59, 59);}
.btn{
    display: flex; flex-direction: row;
    width: 400px;

    justify-content: space-around;
    margin: 50px auto;
}
.btn .box{
    width: 100px;
    padding: 5px 10px;
    border-radius: 8px;
}

.boxes input:hover{
    background-color: rgb(98, 95, 95);
}